/* Write your CSS here */
.simple-todos-bg-container {
  background-color: #ffc2a0;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
align-items: center;
}

.simple-todo-container {
    background-color: white;
    border-radius: 20px;
    width: 90%;
    padding: 20px;
    text-align: center;
}

.heading {
    color: #ff8542;
    font-family: 'Roboto';
}

.todoItem-container {
    list-style: none;
    text-align: left;
    padding: 0px;
}